<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Formulário de Atendimento</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
        <style>
            body {
                background-color: #f8f9fa;
            }
            .container {
                background-color: #fff;
                border-radius: 10px;
                padding: 20px;
                margin-top: 50px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }
            .form-group {
                margin-bottom: 20px;
            }
            .btn-primary {
                background-color: #007bff;
                border-color: #007bff;
            }
            .btn-primary:hover {
                background-color: #0069d9;
                border-color: #0062cc;
            }
        </style>
        <script>
            $(document).ready(function () {
                $("#telefone").mask("(00) 00000-0000");
                $("#cadastro-paciente").validate({
                    rules: {
                        nome: {
                            required: true,
                            minlength: 10
                        },
                        telefone: {
                            required: true,
                            minlength: 15
                        },
                        data: {
                            required: true
                        },
                        responsavel: {
                            required: true,
                            minlength: 10
                        }
                    },
                    messages: {
                        nome: {
                            required: "Por favor, informe o nome do paciente.",
                            minlength: "O nome deve ter pelo menos 10 caracteres."
                        },
                        telefone: {
                            required: "Por favor, informe o telefone do paciente.",
                            minlength: "O telefone deve ter pelo menos 15 caracteres."
                        },
                        data: {
                            required: "Por favor, informe a data do atendimento."
                        },
                        responsavel: {
                            required: "Por favor, informe o nome do responsável pelo atendimento.",
                            minlength: "O nome do responsável pelo atendimento deve ter pelo menos 10 caracteres."
                        }
                    },
                    errorElement: "em",
                    errorPlacement: function (error, element) {
                        error.addClass("help-block");
                        if (element.prop("type") === "checkbox") {
                            error.insertAfter(element.parent("label"));
                        } else {
                            error.insertAfter(element);
                        }
                    },
                    highlight: function (element, errorClass, validClass) {
                        $(element).parents(".form-group").addClass("has-error").removeClass("has-success");
                    },
                    unhighlight: function (element, errorClass, validClass) {
                        $(element).parents(".form-group").addClass("has-success").removeClass("has-error");
                    }
                });
            });
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Formulário de Atendimento</h2>
                </div>
                <div class="col-md-6 text-right">
                    <a th:href="@{/agenda}" class="btn btn-primary">Agenda de Atendimentos</a>
                </div>
            </div>
            <form th:action="@{'/alterar/' + ${atendimento.id}}" th:object="${atendimento}" id="atendimentoForm" method="post" >
                <div class="form-group">
                    <label for="nome">Nome:</label> <p> 
                        <input type="text" th:field="${atendimento.nome}" class="form-control" id="nome" name="nome" placeholder="Informe o nome do paciente" required minlength="10">
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone:</label>
                    <input type="text" th:field="${atendimento.telefone}"class="form-control" id="telefone" name="telefone" placeholder="Informe o telefone do paciente" required minlength="15">
                </div>
                <div class="form-group">
                    <label for="data">Data:</label>
                    <input type="date" th:field="${atendimento.dataH}" class="form-control" id="data" name="data" placeholder="Informe a data do atendimento (xx/xx/xxxx)" required>
                </div>
                <div class="form-group">
                    <label for="responsavel">Responsável pelo Atendimento:</label>
                    <input type="text" th:field="${atendimento.pResponsavel}" class="form-control" id="responsavel" name="responsavel" placeholder="Informe o responsável pelo atendimento" required minlength="10">
                </div>
                <button onclick="validarFormulario()" type="submit" class="btn btn-success">Alterar Dados</button>
                <button type="reset" class="btn btn-default">Limpar Campos</button>
            </form>
            <script>
                function validarFormulario() {
                    var nome = document.getElementById("nome");
                    var telefone = document.getElementById("telefone");
                    var data = document.getElementById("data");
                    var responsavel = document.getElementById("responsavel");

                    if (nome.checkValidity() && telefone.checkValidity() && data.checkValidity() && responsavel.checkValidity()) {
                        // Se a validação for bem-sucedida, os dados são gravados aqui
                        alert("Dados gravados com sucesso!");
                    } else {
                        // Se a validação falhar, exibe uma mensagem de erro
                        alert("Por favor, preencha todos os campos corretamente.");
                    }
                }
            </script>
        </div>
    </body>
</html>